<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.michaelsSoftware.ShoppingList">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_normal"

        android:roundIcon="@drawable/ic_rounded"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity
            android:name="com.michaelsSoftware.ShoppingList.activities.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Launcher">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>
        <activity
            android:name="com.michaelsSoftware.ShoppingList.activities.CurrentItem"
            android:screenOrientation="portrait">


        </activity>
        <activity android:name=".activities.FragmentActivity" />
    </application>

</manifest>